@using EntityLayer.Concrete
@{
    ViewData["Title"] = "BookShow";
}
@model Book


    <h1>
    <label asp-for="BookCategory"/>
</h1>
        <h5>
            <label asp-for="Bookinfo"/> 
        </h5>
       


