@using EntityLayer.Concrete
@{
    ViewData["Title"] = "BookShow";
}
@model Book


    <h1>
    <label asp-for="BookCategory"></label>
</h1>
        <h5>
            <label asp-for="Bookinfo"></label> 
        </h5>
       


