@using EntityLayer.Concrete
@{
    ViewData["Title"] = "Index";
}
@model List<Book>
@foreach (var item in Model)
{
    <h1>@item.Name</h1>
    <h5>
        @item.BookCategory
    </h5>
    <p>@item.Bookinfo</p>
} 


