@using EntityLayer.Concrete
@{
    ViewData["Title"] = "Index";
}
@model List<Book>

} 

   
    <section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Biz <span>On'lib </span> Kitap okurların birleştiği Sayfa</h2>
                    <h4>-Kitaplar -</h4>

                </div>
            </div>
        </div>
    </section><!-- End Hero Section -->
    <main id="main" data-aos="fade" data-aos-delay="1500">
        <!-- ======= Gallery Section ======= -->
        <section id="gallery" class="gallery">
            <div class="container-fluid">
                <div class="row gy-4 justify-content-center">
                    @foreach (var item in Model)
                    {
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="gallery-item h-100">
                                <img src="@item.BookImage" class="img-fluid" alt="">
                                <div class="gallery-links d-flex align-items-center justify-content-center">
                                    <h2 style="color:pink"><i><a asp-controller="User" asp-action="BookShow" asp-route-id="@item.BookID">@item.Name</a></i> </h2>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    </main>
   




