@using EntityLayer.Concrete;

@{
    ViewData["Title"] = "Update";
}
@model Book
<h1>Kitap Güncelleme</h1>
<form asp-controller="Book" asp-action="Update" asp-route-productId="@Model.BookID" asp-route-type="type1" method="post">
    <label>Kitap ismi:</label>
    <input type="hidden" asp-for="BookID" />
    <input type="text" asp-for="Name" />
    <br />
    <label>Kitap Adeti:</label>
    <input type="text" asp-for="Stock" />
    <br />
    <label>Kitap Basım Yılı:</label>
    <input type="text" asp-for="Year" />
    <br />
    <label>Sayfa Sayısı:</label>
    <input type="text" asp-for="PageNumber" />
    <br />
    <label>Kitap kategori</label>
    <input type="text" asp-for="BookCategory" />
    <br />
    <label>Kitap Ön bilgi</label>
    <input type="text" asp-for="Bookinfo" />
    <label>Kitap ismi:</label>
    <input type="text" asp-for="BookImage" />
    <br />
@*    <label>Yazar Sözü</label>
    <input type="text" asp-for="AuthorQuintessence" />
    <br />
    <label>Yazar Hakkında</label>
    <input type="text" asp-for="AuthorAbout" />
    <br />
    <label>Yazar İsmi</label>
    <input type="text" asp-for="AuthorName" />
    <br />*@
    <button type="submit">Ürün Güncelle</button>
</form>



