
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center  me-auto me-lg-0">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <i class="bi bi-book"></i>
            <h1 class="display-4">OnLib</h1>
        </a>
        <nav id="navbar" class="navbar">
            <ul>
                @if (User.Identity.IsAuthenticated)
                {
                   @if (User.IsInRole("admin"))
                    {
                        <li class="nav-item ms-auto">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Admin">Kitap İşlemleri</a>
                        </li>
                    }
                    <li class="nav-item ms-auto">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Profile">Profile</a>
                    </li>
                }
                else
                {

                }
            </ul>
        </nav><!-- .navbar -->
        <button type="button" class="btn btn-success"><a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogOut">Log Out</a></button>
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
</header>
